<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login-page"> Login </a></li>
    <li><a href="/register-page"> Register </a></li>
    <li><a href="/posts"> Posts </a></li>
    <li><a href="/profile-page"> Profile </a></li>
  </ul>
</nav>