<h1>Welcome to the best website. </h1>
<p>This is the home page.</p>
<div>
  {{#each posts}}
    <li><a href="/home/{{this.postId}}">{{this.login}} {{this.profile}} {{this.register}} </li></a>
  {{/each}}
</ul>
</div>